@{
    ViewBag.Title = "NotFound";
}

<h1>La informacion que buscaba no pudo ser encontrada</h1>
<h2>Detalles</h2>
<ul>
    <li><b>Codigo de error: </b> @ViewBag.ErrorCode </li>
    <li><b>Descripcion: </b> @ViewBag.Description </li>
</ul>
<center><img src="~/Content/Uploads/triste.jpg" /></center>
